[Unit]
Description=memecdn local private key signing service
After=network.target

[Service]
Type=simple
User=myzerossl
Group=myzerossl
EnvironmentFile=/etc/myzerossl/keylessd-local.env
ExecStart=/usr/local/bin/keylessd
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadOnlyPaths=/etc/openresty/ssl
ReadWritePaths=/etc/myzerossl /var/log/myzerossl

[Install]
WantedBy=multi-user.target
